
html, body {
  min-height: 100%;

  font-weight: 300;
  line-height: 1.5;
}

#container {
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	background-color: #FFF;

	text-align: left;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg');
  background-position: center top;
  background-size: cover;
  margin: 0;
}

row {
  text-align: center;

}

img {
    max-width: 100%;
    height: auto;
}

.page-title {
  text-align: center;
  font-weight: 100;
}

.page-description {
  border: 1px solid #000;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  margin: 2px;
}

.gallery-item .thumbnail {

}

/* FOOTER NAVIGATION */

nav {
  background-color: #FFF;
}

nav li {
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
}

.contact-btn {

}

.contact-btn a {
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;

}

.contact-btn a:active {
  position: relative;
  bottom: 2px;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}


