
html, body {
  min-height: 100%;

  font-weight: 300;
  line-height: 1.5;
}

#container {
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	background-color: #F8F8F8;

	text-align: left;
}

#share-buttons img {
	width: 35px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
	vertical-align: baseline;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url('background.jpg');
  background-position: center top;
  background-size: cover;
  margin: 0;
}

h1 {
	font-size: 5em;
}

h3 {
	border-bottom: 2px solid #999;
}

row {
  text-align: center;

}

img {
    max-width: 100%;
    height: auto;
}

.date {
	float: right;
}

.page-title {
  text-align: center;
  font-weight: 100;
 
}

.page-description {
  color: 585858;
  text-align: center;
}



